
.icon-user-1:before { content: '\e800'; } /* '' */
.icon-youtube:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-laptop:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\e804'; } /* '' */
.icon-mail-1:before { content: '\e805'; } /* '' */
.icon-user:before { content: '\f061'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-laptop-1:before { content: '\f109'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-googleplus-rect:before { content: '\f309'; } /* '' */
